body {
    background: #f8f8f8;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background: white;
    .logo{
        max-height: 55%;
        margin-left: 20px;
        margin-top: 20px;
    }
}

main {
    min-height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}