body {
    background: #dc83fc;
    font-family: 'Source Sans Pro', sans-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.valign {
    display: flex;
    align-items: center;
}

.calign {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    .logo{
        max-height: 55px;
        max-width: 100%;
    }
    .menu{
        max-height: 55px;
        max-width: 100%;
        cursor: pointer;
    }
    .row {
        width: 100%;
        height: 100%;
    }
    .menuContainer {
        justify-content: right;
    }
}

main {
    min-height:80vh;
    padding: 3em 0;
    margin-top: 100px;
    position: relative;
    right: 0;
    transition: .2s ease-in-out right;
    background: #f8f8f8;
    z-index: 500;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

main::after {
    opacity: 0;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    top: 100px;
    transition: .2s ease-in-out;
    content: ' ';
    background: rgba(0,0,0,.6);
}
.moveOver {
    right: 300px;
    pointer-events: none;
}

.moveOver::after {
    right: 300px;
    opacity: 1;
}



.activeMenuItem {
    border-left: 7px solid white;
}

footer {
   padding: 3em 0;
   background: #f8f8f8;
   box-shadow: 0 0 10px rgba(0,0,0,.2);
   position: relative;
   z-index: 600;
}


.container {
    width: 95% !important;
}

.searchBar {
    border: 1px solid #cccccc;
    background: white;
    margin-top: 2em;
    height: 50px;
    font-size: 1.25em;
    font-weight: 100;
}

.bomb {
    border: 1px solid magenta;
    padding-right: -20px;
}

.grayBoxes .col-xs-6 div {
    border: 1px solid #cccccc;
    margin-top: 3em;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.magentaBoxes .col-xs-6 div {
    border: 1px solid #cccccc;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.navLinks {
    position: fixed;
    right: 0;
    width: 300px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            a {
                padding: 1.25em 1.5em;
                width: 100%;
                text-decoration: none;
                transition: .2s ease-in-out;
                color: white;
            }
            a:hover {
                background: rgba(0,0,0,.2);
            }
        }

    }
}

.signupbox{
    border: 1.25px solid #cccccc;
    background: white;
    margin-top: 1.25em;
    height: 375px;
    text-align: center;
}

.namesignuptext{
    color: #757575;
    font-weight: bold;
}

.emailsignuptext{
    color: #757575;
    font-weight: bold;
}

.passwordsignuptext{
    color: #757575;
    font-weight: bold;
}