body {
    background: #f8f8f8;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.valign {
    display: flex;
    align-items: center;
}

.calign {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background: white;
    .logo{
        max-height: 55px;
        max-width: 100%;
        padding-left: 20px;
    }
}

main {
    border: 3px solid blue;
    min-height:80vh;
    
}

footer {
    border: 3px solid yellow;
   background: green; 
}

.searchBar {
    border: 1px solid magenta;
    background: #ccc;
    margin-top: 5em;
}

.bomb {
    border: 1px solid magenta;
    padding-right: -20px;
}